todo.txt
.vscode/settings.json
test_function.py
__pycache__/inventory_backend.cpython-38.pyc
__pycache__/inventory_backend.cpython-39.pyc
__pycache__/core_backend.cpython-39.pyc
__pycache__/register_backend.cpython-39.pyc
